body {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  color: #234;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #234;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.fade-enter {
  opacity: 0;
  transform: translate3d(-20px, 0, 0);
}

.fade-enter-active {
  transition: all .3s;
}
